/*#body{
    background-image: url("http://i62.tinypic.com/2j3gljo.jpgg");
  background-repeat: no-repeat;
   background-size: 100%, 100%;
}*/

.search {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  width: 590px;
  height: 60px;
  right: 0;
  padding: 10px 20px 12px 0px;
  border: none;
  font: normal 40px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: url("");
  background-repeat: no-repeat;
  background-position: 26% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.Stext {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 19px/1.2 "Roboto", Helvetica, sans-serif;
  color: rgba(255,255,255,.7);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.food-item-view{
    display: none;
    width: 590px;
    height: 400px;
    background-color: #338cdf;
    -webkit-animation-delay: 1s;
}

.fuzzy-container{
}

.fuzzylink{
    display: block;
    text-decoration: none;
    background-color: transparent;
    color: black;
    font: normal 15px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.fuzzylink:hover{
    background-color: #338cdf; 
    color: black;
    text-decoration:none;
}

.fuzzy-item:hover{
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
}

.highlighted-item{
    background-color: #338cdf; 
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

#fuzzy-results{
    width: 590px;
    text-align: left;
    font: normal 15px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
    list-style-type: none;
    text-decoration: none;
}


/*KEYFRAMES*/

@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fadein{    
  animation:fadein 1.5s;
  animation-timing-function:linear;
  animation-delay:1s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation:fadein 1.5s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:1s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none; }
}
@-moz-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none;}
}
@-o-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none;}
}
@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; display: none;}
}

.fadeout{    
  animation:fadeout 1.5s;
  animation-timing-function:linear;
  animation-delay:1s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation:fadeout 1.5s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:1s;
  -webkit-animation-fill-mode: forwards;
}