Foodata/Foodata/App_Data/FoodataContext-20150414203933.mdf
Foodata/Foodata/App_Data/FoodataContext-20150414203933_log.ldf
Foodata/Foodata/bin/
Foodata/Foodata/obj/Debug/Foodata.csproj.FileListAbsolute.txt
