<div id="body">
    <div id="list-id" align="center">
        <br><br><br>
        <br>
        <div class="fuzzy-container">
            <input id="fuzzy-search" class="fuzzy-search search" placeholder="Search for food..." />
            <br />
            <br />
            <ul id="fuzzy-results" class="list"></ul>
            <div class="food-item-view">

            </div>
        </div>
    </div>
</div>
