<div id="body">
    <div id="list-id" align="center">
        <br><br><br>
        <br>
        <div class="fuzzy-container container">
            <div class="row">
                <div class="col-md-12">
                    <input id="fuzzy-search" class="fuzzy-search search" placeholder="Search for food..." />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <ul id="fuzzy-results" class="list"></ul>
                    <div class="food-item-view">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
