<div id="body">
    <div id="list-id" align="center">
        <br><br><br>
        <br>
        <input id="fuzzy-search" class="fuzzy-search search" placeholder="Search for food..." />
        <div class="resultdiv">
            <ul id="fuzzy-results" class="list"></ul>
        </div>
    </div>
</div>
