<div id="body">
    <div id="list-id" align="center">
        <br><br><br>
        <br>
        <input id="fuzzy-search" class="fuzzy-search search" placeholder="Search..." />
        <ul id="fuzzy-results" class="list">
            
        </ul>
    </div>
</div>
