@{
    ViewBag.Title = "SassyFats";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<h2>SassyFats</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="sassyfats-container"></ul>
        </div>
    </div>
    <br />
</div>

<script>
    $(window).ready(function () {
        getSassyFats();
    });

    function getSassyFats() {
        var $container = $('.sassyfats-container');

        $.getJSON('../api/Food?refine=sassyfats')
           .done(function (data) {
               // On success, 'data' contains all food
               console.log(data)
               $.each(data, function (i, el) {
                   $container.append($("<li class='sassy-item'>").html(el.Display_Name + " --- Fats: " + el.Saturated_Fats));
               })

               return data;
           })
           .fail(function (jqXHR, textStatus, err) {
               console.log('Error: ' + err);
           });
    }
</script>
