@{
    ViewBag.Title = "Update";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<h2>Update</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h6>*Empty fields will have a value of 0. For an example entry click on the READ tab.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Food_Code: <input class="form-control" type="text" id="Food_Code" /></div>
        <div class="col-md-3">Display_Name: <input class="form-control" type="text" id="Display_Name" /></div>
        <div class="col-md-3">Portion_Default: <input class="form-control" type="text" id="Portion_Default" /></div>
        <div class="col-md-3">Portion_Amount: <input class="form-control" type="text" id="Portion_Amount" /></div>
        <div class="col-md-3">Portion_Display_Name: <input class="form-control" type="text" id="Portion_Display_Name" /></div>
        <div class="col-md-3">Factor: <input class="form-control" type="text" id="Factor" /></div>
        <div class="col-md-3">Increment: <input class="form-control" type="text" id="Increment" /></div>
        <div class="col-md-3">Multiplier: <input class="form-control" type="text" id="Multiplier" /></div>
        <div class="col-md-3">Grains: <input class="form-control" type="text" id="Grains" /></div>
        <div class="col-md-3">Whole_Grains: <input class="form-control" type="text" id="Whole_Grains" /></div>
        <div class="col-md-3">Vegetables: <input class="form-control" type="text" id="Vegetables" /></div>
        <div class="col-md-3">Orange_Vegetables: <input class="form-control" type="text" id="Orange_Vegetables" /></div>
        <div class="col-md-3">Drkgreen_Vegetables: <input class="form-control" type="text" id="Drkgreen_Vegetables" /></div>
        <div class="col-md-3">Starchy_vegetables: <input class="form-control" type="text" id="Starchy_vegetables" /></div>
        <div class="col-md-3">Other_Vegetables: <input class="form-control" type="text" id="Other_Vegetables" /></div>
        <div class="col-md-3">Fruits: <input class="form-control" type="text" id="Fruits" /></div>
        <div class="col-md-3">Milk: <input class="form-control" type="text" id="Milk" /></div>
        <div class="col-md-3">Meats: <input class="form-control" type="text" id="Meats" /></div>
        <div class="col-md-3">Soy: <input class="form-control" type="text" id="Soy" /></div>
        <div class="col-md-3">Drybeans_Peas: <input class="form-control" type="text" id="Drybeans_Peas" /></div>
        <div class="col-md-3">Oils: <input class="form-control" type="text" id="Oils" /></div>
        <div class="col-md-3">Solid_Fats: <input class="form-control" type="text" id="Solid_Fats" /></div>
        <div class="col-md-3">Added_Sugars: <input class="form-control" type="text" id="Added_Sugars" /></div>
        <div class="col-md-3">Alcohol: <input class="form-control" type="text" id="Alcohol" /></div>
        <div class="col-md-3">Calories: <input class="form-control" type="text" id="Calories" /></div>
        <div class="col-md-3">Saturated_Fats: <input class="form-control" type="text" id="Saturated_Fats" /></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><button type="button" class="btn btn-primary" id="update">Update Food</button></div>
    </div>
</div>


<script>
    $(window).ready(function () {
        $("#Food_Code").val(),
        $("#Display_Name").val(),
        $("#Portion_Default").val(),
        $("#Portion_Amount").val(),
        $("#Portion_Display_Name").val(),
        $("#Factor").val(),
        $("#Increment").val(),
        $("#Multiplier").val(),
        $("#Grains").val(),
        $("#Whole_Grains").val(),
        $("#Vegetables").val(),
        $("#Orange_Vegetables").val(),
        $("#Drkgreen_Vegetables").val(),
        $("#Starchy_vegetables").val(),
        $("#Other_Vegetables").val(),
        $("#Fruits").val(),
        $("#Milk").val(),
        $("#Meats").val(),
        $("#Soy").val(),
        $("#Drybeans_Peas").val(),
        $("#Oils").val(),
        $("#Solid_Fats").val(),
        $("#Added_Sugars").val(),
        $("#Alcohol").val(),
        $("#Calories").val(),
        $("#Saturated_Fats").val()
    });
</script>
