@{
    ViewBag.Title = "Update";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<h2>Update</h2>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h6>*Empty fields will have a value of 0. For an example entry click on the READ tab.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Food_Code: <input class="form-control" type="text" id="Food_Code" /></div>
        <div class="col-md-3">Display_Name: <input class="form-control" type="text" id="Display_Name" /></div>
        <div class="col-md-3">Portion_Default: <input class="form-control" type="text" id="Portion_Default" /></div>
        <div class="col-md-3">Portion_Amount: <input class="form-control" type="text" id="Portion_Amount" /></div>
        <div class="col-md-3">Portion_Display_Name: <input class="form-control" type="text" id="Portion_Display_Name" /></div>
        <div class="col-md-3">Factor: <input class="form-control" type="text" id="Factor" /></div>
        <div class="col-md-3">Increment: <input class="form-control" type="text" id="Increment" /></div>
        <div class="col-md-3">Multiplier: <input class="form-control" type="text" id="Multiplier" /></div>
        <div class="col-md-3">Grains: <input class="form-control" type="text" id="Grains" /></div>
        <div class="col-md-3">Whole_Grains: <input class="form-control" type="text" id="Whole_Grains" /></div>
        <div class="col-md-3">Vegetables: <input class="form-control" type="text" id="Vegetables" /></div>
        <div class="col-md-3">Orange_Vegetables: <input class="form-control" type="text" id="Orange_Vegetables" /></div>
        <div class="col-md-3">Drkgreen_Vegetables: <input class="form-control" type="text" id="Drkgreen_Vegetables" /></div>
        <div class="col-md-3">Starchy_vegetables: <input class="form-control" type="text" id="Starchy_vegetables" /></div>
        <div class="col-md-3">Other_Vegetables: <input class="form-control" type="text" id="Other_Vegetables" /></div>
        <div class="col-md-3">Fruits: <input class="form-control" type="text" id="Fruits" /></div>
        <div class="col-md-3">Milk: <input class="form-control" type="text" id="Milk" /></div>
        <div class="col-md-3">Meats: <input class="form-control" type="text" id="Meats" /></div>
        <div class="col-md-3">Soy: <input class="form-control" type="text" id="Soy" /></div>
        <div class="col-md-3">Drybeans_Peas: <input class="form-control" type="text" id="Drybeans_Peas" /></div>
        <div class="col-md-3">Oils: <input class="form-control" type="text" id="Oils" /></div>
        <div class="col-md-3">Solid_Fats: <input class="form-control" type="text" id="Solid_Fats" /></div>
        <div class="col-md-3">Added_Sugars: <input class="form-control" type="text" id="Added_Sugars" /></div>
        <div class="col-md-3">Alcohol: <input class="form-control" type="text" id="Alcohol" /></div>
        <div class="col-md-3">Calories: <input class="form-control" type="text" id="Calories" /></div>
        <div class="col-md-3">Saturated_Fats: <input class="form-control" type="text" id="Saturated_Fats" /></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><button type="button" class="btn btn-primary" id="update">Update Food</button></div>
    </div>
</div>


<script>
    $(window).ready(function () {
        var foodGuid = purl(window.location.href).param('foodGuid');
        $.getJSON('../api/Food/' + foodGuid)
        .done(function (data) {
            $("#Food_Code").val(data.Food_Code),
            $("#Display_Name").val(data.Display_Name),
            $("#Portion_Default").val(data.Portion_Default),
            $("#Portion_Amount").val(data.Portion_Amount),
            $("#Portion_Display_Name").val(data.Portion_Display_Name),
            $("#Factor").val(data.Factor),
            $("#Increment").val(data.Increment),
            $("#Multiplier").val(data.Multiplier),
            $("#Grains").val(data.Grains),
            $("#Whole_Grains").val(data.Whole_Grains),
            $("#Vegetables").val(data.Vegetables),
            $("#Orange_Vegetables").val(data.Orange_Vegetables),
            $("#Drkgreen_Vegetables").val(data.Drkgreen_Vegetables),
            $("#Starchy_vegetables").val(data.Starchy_vegetables),
            $("#Other_Vegetables").val(data.Other_Vegetables),
            $("#Fruits").val(data.Fruits),
            $("#Milk").val(data.Milk),
            $("#Meats").val(data.Meats),
            $("#Soy").val(data.Soy),
            $("#Drybeans_Peas").val(data.Drybeans_Peas),
            $("#Oils").val(data.Oils),
            $("#Solid_Fats").val(data.Solid_Fats),
            $("#Added_Sugars").val(data.Added_Sugars),
            $("#Alcohol").val(data.Alcohol),
            $("#Calories").val(data.Calories),
            $("#Saturated_Fats").val(data.Saturated_Fats)
        })
        .fail(function (jqXHR, textStatus, err) {
            console.log('Error: ' + err);
        });
    });

    $("#update").click(function () {
        var food = {
            Food_Code: $("#Food_Code").val(),
            Display_Name: $("#Display_Name").val(),
            Portion_Default: $("#Portion_Default").val(),
            Portion_Amount: $("#Portion_Amount").val(),
            Portion_Display_Name: $("#Portion_Display_Name").val(),
            Factor: $("#Factor").val(),
            Increment: $("#Increment").val(),
            Multiplier: $("#Multiplier").val(),
            Grains: $("#Grains").val(),
            Whole_Grains: $("#Whole_Grains").val(),
            Vegetables: $("#Vegetables").val(),
            Orange_Vegetables: $("#Orange_Vegetables").val(),
            Drkgreen_Vegetables: $("#Drkgreen_Vegetables").val(),
            Starchy_vegetables: $("#Starchy_vegetables").val(),
            Other_Vegetables: $("#Other_Vegetables").val(),
            Fruits: $("#Fruits").val(),
            Milk: $("#Milk").val(),
            Meats: $("#Meats").val(),
            Soy: $("#Soy").val(),
            Drybeans_Peas: $("#Drybeans_Peas").val(),
            Oils: $("#Oils").val(),
            Solid_Fats: $("#Solid_Fats").val(),
            Added_Sugars: $("#Added_Sugars").val(),
            Alcohol: $("#Alcohol").val(),
            Calories: $("#Calories").val(),
            Saturated_Fats: $("#Saturated_Fats").val()
        };

        if (food.Food_Code == "") {
            food.Food_Code = "00000000";
        }
        if (food.Display_Name == "") {
            food.Display_Name = "Unknown";
        }
        if (food.Portion_Default == "") {
            food.Portion_Default = 0.0;
        }
        if (food.Portion_Amount == "") {
            food.Portion_Amount = 0.0;
        }
        if (food.Portion_Display_Name == "") {
            food.Portion_Display_Name = "";
        }
        if (food.Factor == "") {
            food.Factor = 0.0;
        }
        if (food.Increment == "") {
            food.Increment = 0.0;
        }
        if (food.Multiplier == "") {
            food.Multiplier = 0.0;
        }
        if (food.Grains == "") {
            food.Grains = 0.0;
        }
        if (food.Whole_Grains == "") {
            food.Whole_Grains = 0.0;
        }
        if (food.Vegetables == "") {
            food.Vegetables = 0.0;
        }
        if (food.Orange_Vegetables == "") {
            food.Orange_Vegetables = 0.0;
        }
        if (food.Drkgreen_Vegetables == "") {
            food.Drkgreen_Vegetables = 0.0;
        }
        if (food.Starchy_vegetables == "") {
            food.Starchy_vegetables = 0.0;
        }
        if (food.Other_Vegetables == "") {
            food.Other_Vegetables = 0.0;
        }
        if (food.Fruits == "") {
            food.Fruits = 0.0;
        }
        if (food.Milk == "") {
            food.Milk = 0.0;
        }
        if (food.Meats == "") {
            food.Meats = 0.0;
        }
        if (food.Soy == "") {
            food.Soy = 0.0;
        }
        if (food.Drybeans_Peas == "") {
            food.Drybeans_Peas = 0.0;
        }
        if (food.Oils == "") {
            food.Oils = 0.0;
        }
        if (food.Solid_Fats == "") {
            food.Solid_Fats = 0.0;
        }
        if (food.Added_Sugars == "") {
            food.Added_Sugars = 0.0;
        }
        if (food.Alcohol == "") {
            food.Alcohol = 0.0;
        }
        if (food.Calories == "") {
            food.Calories = 0.0;
        }
        if (food.Saturated_Fats == "") {
            food.Saturated_Fats = 0.0;
        }

        var foodGuid = purl(window.location.href).param('foodGuid');

        $.ajax({
            url: '../api/Food/' + foodGuid,
            type: 'PUT',
            data: JSON.stringify(food),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                window.location = "../";
            },
            error: function () {
                alert("error");
            }
        });
    });
</script>
